#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 20px 0px;
    font-weight: 300;
}

#friends-display-link i{
    color: rgba(121,121,121,0.3);
}