.screen-header {
    padding: 50px var(--horizontal-space) var(--horizontal-space);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 20px;
    color: rgba(0,0,0,0.7)
}